{% extends 'layout.html' %}

{% load static %}

{% block content %}
<main class="container">
    <h1 class="display-5 text-center custom-font">Workspaces 💼</h1>
    <p class="card card-body">searchbar ...</p>
    {% if workspaces %}
    {% for workspace in workspaces %}
    <a class="card card-body" href="#">
        <div class="row d-flex align-items-center">
            <div class="col-2">
                {% if workspace.logo %}
                <img src="{{ workspace.logo.url }}" class="workspace-logo-icon" alt="Workspace Logo">
                {% endif %}
            </div>
            <div class="col">
                <h3>{{ workspace.title }}</h3>
                <p>Bookmarked: {% if workspace.bookmarked %}Yes{% else %}No{% endif %}</p>
            </div>
        </div>
    </a>
    {% endfor %}
    {% else %}
    <p>No workspaces found yet.</p>
    {% endif %}
</main>
{% endblock %}