{% extends 'layout.html' %}

{% load static %}

{% block content %}
<main class="container">
    <h1 class="display-5 text-center custom-font">Workspaces 💼</h1>
    <p class="card card-body">searchbar ...</p>
    <div class="grid d-flex gap-3">
        <div class="row">
            <!-- Button show/hide workspace creation form -->
            <button id="toggleCreateFormBtn" href="{% url 'create_workspace' %}" class="btn btn-secondary">
                +
            </button>
            <!-- Button show/hide workspace Edit form -->
            <button href="#" class="btn btn-secondary">Edit</button>
        </div>
    </div>

    <!-- ||| Render workspaces -->
    {% if workspaces %}
    <div class="row">
        {% for workspace in workspaces %}
        <div class="col-12 col-sm-6 col-md-4">
            <a class="card card-body" href="{% url 'workspace_detail' %}">
                <div class="row align-items-center">
                    <div class="col-12 col-md-2">
                        {% if workspace.logo %}
                        <div class="logo-wrapper text-center">
                            <!-- Center the logo on smaller screens using 'text-center' -->
                            <img src="{{ workspace.logo.url }}" class="p-3 workspace-logo" alt="Workspace Logo">
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-12 col-md text-center"> <!-- Center the text on all screen sizes -->
                        <h3>{{ workspace.title }}</h3>
                        <p class="bookmarked-info">Bookmarked: {% if workspace.bookmarked %}Yes{% else %}No{% endif %}
                        </p>
                    </div>
                </div>
            </a>
        </div>
        {% if forloop.counter|divisibleby:3 and not forloop.last %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
    {% else %}
    <p>No workspaces found yet.</p>
    {% endif %}
</main>

{% endblock %}