{% extends 'layout.html' %}

{% load static %}

{% block content %}
<main class="container">
    <h1 class="display-5 text-center custom-font">Workspaces 💼</h1>
    {% if workspaces %}
    {% for workspace in workspaces %}
    <section class="card card-body">
        <h3>{{ workspace.title }}</h3>
        {% if workspace.logo %}
        <img src="{{ workspace.logo.url }}" alt="Workspace Logo">
        {% endif %}
        <p>Bookmarked: {% if workspace.bookmarked %}Yes{% else %}No{% endif %}</p>
        <p>Number of Elements: {{ workspace.element_count }}</p>
    </section>
    {% endfor %}
    {% else %}
    <p>No workspaces found.</p>
    {% endif %}
</main>
{% endblock %}